<div class="well">
  <h3>You are enrolled at the following address</h3>

  <div class="lead">
    <%= @result.enrolled_address %>
  </div>

  <%= form_tag('https://secure.aec.gov.au/OnlineForms/Enrolment/Form/Apply/83056040-0525-4745-bc91-a04d00a11c5d', :authenticity_token => false) do %>
    <%= hidden_field_tag "SubmitRequest.FormId", "83056040-0525-4745-bc91-a04d00a11c5d" %>
    <%= hidden_field_tag "SubmitRequest.FormPurpose", "changeofdetails" %>
    <%= hidden_field_tag "ChangeAddress", "true" %>
    <%= hidden_field_tag "SubmitRequest.Elector.GivenNames", @person.given_names %>
    <%= hidden_field_tag "SubmitRequest.Elector.Surname", @person.surname %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.HabitationName","" %>
    <%= hidden_field_tag "SubmitRequest.Elector.PreviousAddress.FlatNumber", @person.flat_number %>
    <%= hidden_field_tag "SubmitRequest.Elector.PreviousAddress.StreetNumber", @person.street_number %>
    <%= hidden_field_tag "SubmitRequest.Elector.PreviousAddress.StreetName", @person.street_name %>
    <%= hidden_field_tag "SubmitRequest.Elector.PreviousAddress.StreetType", @person.street_type %>
    <%= hidden_field_tag "SubmitRequest.Elector.PreviousAddress.Locality", @person.locality %>
    <%= hidden_field_tag "SubmitRequest.Elector.PreviousAddress.State", @person.state %>
    <%= hidden_field_tag "SubmitRequest.Elector.PreviousAddress.Postcode", @person.postcode %>
    <%= hidden_field_tag "SubmitRequest.Elector.Email", @person.email %>
    
    <%= hidden_field_tag "FormMode", "Wizard" %>
    <p>
      <strong>If you have moved please</strong>
      <%= submit_tag "Update your details", :class => "btn btn-success" %>
    </p>
  <% end %>
</div>
