<div class="well">
  <h3>You are enrolled at the following address</h3>

  <div class="lead">
    <%= @result.enrolled_address %>
  </div>
</div>

<div class="well">
  <h3>If you have moved please update your address...</h3>
  <%= form_for Person.new, :url => { :action => "update"} do |f| %>
     <div class="row-fluid">
       <div class="span6">
         <%= f.label :flat_number %>
         <%= f.text_field :flat_number %><br />
         <%= f.label :street_number %>
         <%= f.text_field :street_number %><br />
         <%= f.label :street_name %>
         <%= f.text_field :street_name %><br />
 
        
         </div>
         <div class="span6">
          <%= f.label :street_type %>
          <%= f.text_field :street_type %><br />
          <%= f.label "Suburb & Postcode" %>
          <%= text_field_tag(:suburb_autocomplete, flash[:suburb_autocomplete]) %>
          <%= f.hidden_field :postcode %>
          <%= f.hidden_field :suburb %>
          <br />
          <br />
          <%= hidden_field_tag "person[id]", @person.id %>
          <%= hidden_field_tag "given_names", @person.given_names %>
          <%= hidden_field_tag "surname", @person.surname %>
          <%= hidden_field_tag "old_flat_number", @person.flat_number %>
          <%= hidden_field_tag "old_street_number", @person.street_number %>
          <%= hidden_field_tag "old_street_name", @person.street_name %>
          <%= hidden_field_tag "old_street_type", @person.street_type %>
          <%= hidden_field_tag "old_locality", @person.locality %>
          <%= hidden_field_tag "old_state", @person.state %>
          <%= hidden_field_tag "old_postcode", @person.postcode %>
          <%= hidden_field_tag "email", @person.email %>
          <%= f.submit "Update", :class => "btn btn-success" %>
       </div>
     </div>
   <% end %>
</div>
 <script src="/AEC_postcodes_and_suburbs.json"></script>
 <script src="/street_types.json"></script>
 <script>
 $( "#person_street_type" ).autocomplete({
   source: street_types
 });
 $( "#suburb_autocomplete" ).autocomplete({
   source: suburbs,
   minLength: 2,
   select: function( event, ui ) {
          $( "#person_suburb" ).val( ui.item.value.split(" - ")[1] );
          $( "#person_postcode" ).val(ui.item.value.split(" - ")[0] );
          return true;
        }
 });
</script