<% if flash[:unconfirmed] %>
  <%= form_tag('https://secure.aec.gov.au/OnlineForms/Enrolment/Form/Apply/83056040-0525-4745-bc91-a04d00a11c5d', :authenticity_token => false) do %>
    <%= hidden_field_tag "SubmitRequest.FormId", "83056040-0525-4745-bc91-a04d00a11c5d" %>
    <%= hidden_field_tag "SubmitRequest.FormState", @person.state %>
    <%= hidden_field_tag "SubmitRequest.Elector.GivenNames", @person.given_names %>
    <%= hidden_field_tag "SubmitRequest.Elector.Surname", @person.surname %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.HabitationName","" %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.FlatNumber", @person.flat_number %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.StreetNumber", @person.street_number %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.StreetName", @person.street_name %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.StreetType", @person.street_type %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.Locality", @person.locality %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.State", @person.state %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.Postcode", @person.postcode %>
    <%= hidden_field_tag "SubmitRequest.Elector.Email", @person.email %>
    <%= hidden_field_tag "SubmitRequest.Elector.Mobile", @person.mobile %>
    <%= hidden_field_tag "FormMode", "Wizard" %>
      <div class="well">
        <% if flash[:system_error] %>
          <h3>We could not check your enrolment due to a system error. Enrol now to be sure.</h3>
        <% else %>
          <h3>We couldn't find you on the roll, but we've pre-filled your details into the official Electoral Commission enrolment form. Click through to complete the form and update your enrolment.</h3>
          <br><div style="font-size:10pt">you don't need the details of your "previous address", you can just skip that page</div>
        <%end %>
        <%= submit_tag "Enrol Now", :class => "btn btn-success btn-small" %></div>
  <% end %>
<% end %>
<div class="well container-fluid">
  <% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
      <div class="alert alert-error fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <%= form_for @person, :url => { :action => "check"} do |f| %>
    <div class="row-fluid">
      <div class="span6">

        <%= f.label :flat_number %>
        <%= f.text_field :flat_number %><br />
        <%= f.label :street_number %>
        <%= f.text_field :street_number %><br />
        <%= f.label :street_name %>
        <%= f.text_field :street_name %><br />
        <%= f.label :street_type %>
        <%= f.text_field :street_type %><br />
        <%= f.label "Postcode & Suburb" %>
        <%= text_field_tag(:suburb_autocomplete, flash[:suburb_autocomplete]) %>
        <%= f.hidden_field :postcode %>
        <%= f.hidden_field :suburb %>


      </div>

      <div class="span6">
        <%= f.label :given_names %>
        <%= f.text_field :given_names %><br />

        <%= f.label :surname %>
        <%= f.text_field :surname %><br />

        <%= f.label :mobile %>
        <%= f.text_field :mobile %><br />

        <%= f.label :email %>
        <%= f.email_field :email %>&nbsp;<label class="checkbox"><%= check_box_tag 'mailinglist', "yes", true%> Sign up to our mailing list</label>
        <br />
        <%= f.label "Verification Code" %>
        <img src="<%= @captcha_image.data_uri %>"><br />
        <%= text_field_tag(:captcha, nil, :autocorrect => "off", :autocapitalize => "off") %><br />

        <%= f.submit "Check or update my enrolment", :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
<script src="/AEC_postcodes_and_suburbs.json"></script>
<script src="/street_types.json"></script>
<script>
$( "#person_street_type" ).autocomplete({
  source: street_types
});
$( "#suburb_autocomplete" ).autocomplete({
  source: suburbs,
  minLength: 3,
  select: function( event, ui ) {
         $( "#person_suburb" ).val( ui.item.value.split(" - ")[1] );
         $( "#person_postcode" ).val(ui.item.value.split(" - ")[0] );
         return true;
       }
});
</script>

