<% if flash[:unconfirmed] %>
  <%= form_tag('https://secure.aec.gov.au/OnlineForms/Enrolment/Form/Apply/83056040-0525-4745-bc91-a04d00a11c5d', :authenticity_token => false) do %>
    <%= hidden_field_tag "SubmitRequest.FormId", "83056040-0525-4745-bc91-a04d00a11c5d" %>
    <%= hidden_field_tag "SubmitRequest.FormState", @person.state %>
    <%= hidden_field_tag "SubmitRequest.Elector.GivenNames", @person.given_names %>
    <%= hidden_field_tag "SubmitRequest.Elector.Surname", @person.surname %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.HabitationName","" %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.StreetName", @person.street_name %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.Locality", @person.locality %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.State", @person.state %>
    <%= hidden_field_tag "SubmitRequest.Elector.EnrolledAddress.Postcode", @person.postcode %>
    <%= hidden_field_tag "SubmitRequest.Elector.Email", @person.email %>
    <%= hidden_field_tag "FormMode", "Wizard" %>
      <div class="well">
        <h3>We could not find you on the electoral roll.</h3>

        <%= submit_tag "Enrol Now", :class => "btn btn-success btn-small" %></div>
  <% end %>
<% end %>
<div class="well container-fluid">
  <% if flash[:errors] %>
    <% flash[:errors].each do |message| %>
      <div class="alert alert-error fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>
  <%= form_for @person, :url => { :action => "check"} do |f| %>
    <div class="row-fluid">
      <div class="span6">
        <%= f.label :given_names %>
        <%= f.text_field :given_names %><br />

        <%= f.label :surname %>
        <%= f.text_field :surname %><br />

        <%= f.label :street_name %>
        <%= f.text_field :street_name %><br />

        <%= f.label "Suburb & Postcode" %>
        <%= text_field_tag(:autocomplete, flash[:autocomplete]) %>
        <%= f.hidden_field :postcode %>
        <%= f.hidden_field :suburb %>
      </div>

      <div class="span6">
        <%= f.label :email %>
        <%= f.email_field :email %>&nbsp;<label class="checkbox"><%= check_box_tag 'mailinglist', "yes", true%> Sign up to The Greens mailing list</label>
        <br />
        <%= f.label "Verification Code" %>
        <img src="<%= @captcha_image.data_uri %>"><br />
        <%= text_field_tag(:captcha, nil, :autocorrect => "off", :autocapitalize => "off") %><br />
        <%= f.submit "Check Enrolment", :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
<script src="/suburbs.json"></script>
<script>
$( "#autocomplete" ).autocomplete({
  source: suburbs,
  select: function( event, ui ) {
         $( "#person_suburb" ).val( ui.item.value.split(" - ")[1] );
         $( "#person_postcode" ).val(ui.item.value.split(" - ")[0] );
         return true;
       }
});
</script>

