
<%= form_for @person, :url => { :action => "check"} do |f| %>

  <%= f.label :surname %>:
  <%= f.text_field :surname %><br />
  
  <%= f.label :given_names %>:
  <%= f.text_field :given_names %><br />
  
  <%= f.label :street_name %>:
  <%= f.text_field :street_name %><br />
  
  <%= f.label "Suburb & Postcode" %>:
  <%= text_field_tag(:autocomplete, flash[:autocomplete]) %>
  
  <%= f.hidden_field :postcode %><br />
  
  <%= f.hidden_field :suburb %><br />
  
  <img src="<%= @captcha_image.data_uri %>">
  <%= text_field_tag(:captcha) %>
  <%= f.submit %>
<% end %>

<% if flash[:unconfirmed] %>
  <span>We could not find you on the electoral roll. Please try again or <a href="http://www.aec.gov.au/enrol/">Enrol Now</a>
<% end %>

<% if flash[:errors] %>
  <%= flash[:errors]  %>
<% end %>

<script src="/suburbs.json"></script>
<script>
$( "#autocomplete" ).autocomplete({
  source: suburbs,
  select: function( event, ui ) {
         $( "#person_suburb" ).val( ui.item.value.split(" - ")[1] );
         $( "#person_postcode" ).val(ui.item.value.split(" - ")[0] );
         return true;
       }
});
</script>

